<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Controller.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value>Data Source=DB-02;Initial Catalog=Perf_Build;Integrated Security=True</value>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value>mailedge-01.epicgames.net</value>
            </setting>
            <setting name="FailedLogLocation" serializeAs="String">
                <value>\\file-01/UnrealEngine/BuilderFailedLogs</value>
            </setting>
            <setting name="SymbolStoreLocation" serializeAs="String">
                <value>\\file-01/UnrealEngine/BuilderSymbols</value>
            </setting>
        </Controller.Properties.Settings>
    </userSettings>
</configuration>